<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.psi.mapper.PermissionMapper">
	<resultMap id="BaseResultMap" type="com.jl.psi.model.Permission">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="menu_id" jdbcType="INTEGER" property="menuId" />
		<result column="operator_identifier" jdbcType="VARCHAR"
			property="operatorIdentifier" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>


	<sql id="Base_Column_List">
		id, user_id, menu_id, operator_identifier, create_time
	</sql>

	<!-- 根据主键查询信息 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from permission
		where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 根据主键删除 信息 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from permission
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<!-- 根据管理员id删除 信息 -->
	<delete id="deleteByUserId" parameterType="java.lang.Integer">
		delete from permission
		where user_id = #{userId,jdbcType=INTEGER}
	</delete>
	
	<!-- 根据Userid列表删除信息 -->
	<delete id="deletePermissionByUserIds" parameterType="java.util.List">
		delete from permission where user_id in (
		<foreach collection="list" item="item" separator=",">
			#{item}
		</foreach>
		)

	</delete>

	<!-- 保存全部信息 -->
	<insert id="insert" parameterType="com.jl.psi.model.Permission">
		insert into permission (user_id, menu_id,
		operator_identifier, create_time)
		values ( #{userId,jdbcType=INTEGER},
		#{menuId,jdbcType=INTEGER},
		#{operatorIdentifier,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
	</insert>

	<!-- 批量保存全部信息 -->
	<insert id="insertBatch" parameterType="java.util.List">
		insert into permission (user_id, menu_id,
		operator_identifier, create_time)
		values
		<foreach collection="list" item="permission" index="index"
			separator=",">
			( #{permission.userId},
			#{permission.menuId},
			#{permission.operatorIdentifier},
			 #{permission.createTime}
			)
		</foreach>
	</insert>

	<!-- 保存所选内容的信息 -->
	<insert id="insertSelective" parameterType="com.jl.psi.model.Permission">
		insert into permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="menuId != null">
				menu_id,
			</if>
			<if test="operatorIdentifier != null">
				operator_identifier,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="menuId != null">
				#{menuId,jdbcType=INTEGER},
			</if>
			<if test="operatorIdentifier != null">
				#{operatorIdentifier,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<!-- 根据主键更新所选内容 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.jl.psi.model.Permission">
		update permission
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="menuId != null">
				menu_id = #{menuId,jdbcType=INTEGER},
			</if>
			<if test="operatorIdentifier != null">
				operator_identifier = #{operatorIdentifier,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 根据主键更新全部内容 -->
	<update id="updateByPrimaryKey" parameterType="com.jl.psi.model.Permission">
		update permission
		set user_id = #{userId,jdbcType=INTEGER},
		menu_id = #{menuId,jdbcType=INTEGER},
		operator_identifier = #{operatorIdentifier,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>